.breakline{
      border-bottom: solid 1px #e6e6e6;
    width: 605px;
    margin-top: 24px;
}

.listing-show-left-box{
  display: flex;
  margin-top: 18px;
    width: 960px;
}

.user-info{
      display: flex;
    flex-direction: column;
    width: 317px;
    height: 200px;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    position: sticky;
    top: 18px;
    padding: 0 6px;
    margin-top: 90px;
}

.name-box{
    padding: 16px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;
    display: flex;
}

.phone-box{
    padding: 16px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;
    display: flex;
}

.phoneNumber{
  padding-left: 10px;
    text-decoration: none;
    color: #666;
}

.name{
  padding-left: 10px;
    text-decoration: none;
    color: #666;
}

.zipcode{
  padding-left: 10px;
    text-decoration: none;
    color: #666;
}

.zipcode-box{
   padding: 16px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;
    display: flex;
}

.about-2{
  display: flex;
  justify-content: flex-start;
}

.listing-show-left-box2{
    display: block;
    margin-top: 18px;
    width: 960px;
  }
.listing-show-image2{
    object-fit: contain;
    width: 700px;
    height: 450px;
    display: flex;
}

.listing-show-right-box2{
  padding:85px 20px;
  width: 700px;
    height: 445px;
}

.listing-show-header{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.listing-show-description2{
  margin-top: 45px;
}

.email-box{
    padding: 16px 11px 11px 11px;
    width: 283px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    height: 24px;
    color: #666;
    display: flex;
}

.email{
     padding-left: 10px;
    text-decoration: none;
    color: #666;
}