.comment-list-container {
    list-style: none;
    margin-left: -42px;
}

.comments-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.comments-container h1 {
    font-family: arial, sans-serif;
}

.comment-field {
    width: 450px;
    height: 24px;
    margin-right: 20px;
    font-size: 16px;
}

.comment-form {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.comment-item {
    margin: 20px auto;
}

.comment-item-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.comment-del-btn {
    height: 30px;
    background-color: rgb(197, 0, 0);
    color: whitesmoke;
    border: 1px black solid;
    box-shadow: 1px 1px black;
    outline: none;
}

.comment-content {
    font-size: 1.3rem;
}

.breakline {
    width: 100%;
}