.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#logo{
  background-image: url("../../image/sunday-logo.png"); 
  width: 165px;
  height: 165px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  color: white;
  
}

#login{
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
     box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
     font-size: 22px;
     border-bottom-style: none;

}

#signup{
    margin-left: 15px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
    font-size: 22px;
    border-bottom-style: none;
}

.login-signup{
    margin-left: 0 10px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    
   
}