#logo{
  background-image: url("../../image/sunday-logo.png"); 
  width: 108px;
  height: 108px;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.logout-btn {
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
    font-size: 18px;
    border-bottom-style: none;
}

.hover {
    cursor: pointer;
}

#post {
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
    font-size: 18px;
    border-bottom-style: none;
    text-decoration: none;
}

#login{
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
    font-size: 18px;
    border-bottom-style: none;
    text-decoration: none;
}

#signup{
    margin-left: 15px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 4px rgba(196, 177, 13, 0.911);
    font-size: 18px;
    border-bottom-style: none;
    text-decoration: none;
}

.login-signup{
    margin-left: 0 10px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: right;  
}

.search-field {
    padding-left: 18px;
    height: 44px;
    width: 100%;
    border-top-left-radius: 96px;
    border-bottom-left-radius: 96px;
    border-top-right-radius: 96px;
    border-bottom-right-radius: 96px;
    outline: none;
    border: 2px solid lightgray;
    font-size: 16px;
    background: rgba(34, 34, 34, 0.07);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.search-bar-container {
    width: 70%;
    margin-right: 20px;
}