

  .link {
    font-weight: bold;
    display: flex;
    justify-content: left;
    color: #333;
    text-decoration: none;
    border: solid 1px #eeeeef;
    margin: 24px 30px;
    padding: 24px;
    height: 154px;
    background-color: white;
    border-radius: 5px;
   box-shadow: 1px 2px rgba(0, 0, 0, 0.74);
   font-family: 'Taviraj', serif;
}

.food-pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.food-pic-con{
  width: 150px;
    height: 150px;
    padding-right: 24px;
}

.info{
      display: flex;
    flex-direction: column;
    
}

.about{
  text-transform: lowercase;
  font-size: 14px;
  color: gray;
}

.box1{
    width: 900px;
    /* border-top: solid 1px #eeeeef; */
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    margin: 0 auto;
    font-family: 'Taviraj', serif;
}

.price{
  color: #757280;
    font-size: 14px;
    font-weight: normal;
    width: 600px;
    margin-top: 8px;
}

.delete-btn{
  height: 30px;
  background-color: rgb(197, 0, 0);
  color: whitesmoke;
  border: 1px black solid;
  box-shadow: 1px 1px black;
  outline: none;
  font-family: 'Taviraj', serif;
  outline: none;
}

.edit-item-btn {
  height: 30px;
  background-color: rgb(89, 92, 249);
  color: whitesmoke;
  border: 1px black solid;
  box-shadow: 1px 1px black;
  outline: none;
  font-family: 'Taviraj', serif;
  outline: none;
}

.edit-item-btn:hover {
  cursor: pointer;
}

.listing-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete-btn:hover {
  cursor: pointer;
}

.create-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 450px;
  margin: 0 auto;
  border: solid 1px #eeeeef;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.74); 
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Taviraj', serif;
}


.create-form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 30px;
}


.create-image input {
  border: none;
  font-family: 'Taviraj', serif;
  font-size: 12px;
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-submit {
    position: relative;
    top: 0;
    margin-top: 15px;
    display: block;
    background: rgb(10, 10, 0);
    color: #eee;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;
}

.create-price input{
  width: 50px;
  text-align: center;
}

.create-input{
    border-radius: 4px;
    box-shadow: none;
    padding: 5px 10px;
    border: 1px solid #E1E3DF;
    font-size: 18px;
    margin-left: 10px;
    width: 300px;
}

.create-form textarea {
  resize: none;
  height: 60px;
}

.create-errors {
  color: red;
  font-weight: 300;
}
