

  .link {
    font-weight: bold;
    display: flex;
    justify-content: left;
    color: #333;
    text-decoration: none;
    border: solid 1px #eeeeef;
    margin: 24px 30px;
    padding: 24px;
    height: 154px;
    background-color: white;
    border-radius: 5px;
   box-shadow: 1px 2px rgba(0, 0, 0, 0.74);
}

.food-pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.food-pic-con{
  width: 150px;
    height: 150px;
    padding-right: 24px;
}

.info{
      display: flex;
    flex-direction: column;
}

.about{
  text-transform: lowercase;
  font-size: 14px;
  color: gray;
}

.box1{
     width: 900px;
    border-top: solid 1px #eeeeef;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    /* align-items: unset; */
    flex-direction: column;
    padding: 100px 400px;
}

.price{
  color: #757280;
    font-size: 14px;
    font-weight: normal;
    width: 600px;
    margin-top: 8px;
}

.delete-btn{
  height: 40px;
  background-color: rgb(197, 0, 0);
  color: whitesmoke;
  border: 1px black solid;
  box-shadow: 1px 1px black;
  outline: none;
}

.delete-btn:hover {
  cursor: pointer;
}

.create-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border: solid 1px #eeeeef;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.74); 
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.create-form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.create-form input {
  margin-left: 10px;
  width: 300px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}

.create-form textarea {
  margin-left: 10px;
  width: 300px;
  resize: none;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  padding: 1px;

}

.create-image input {
  border: none;
}

.create-submit {
  width: 100px;
  margin: 0 auto;
}